#top-menu {
    display: flex;
    justify-content: space-between;
}

#left_tmenu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tmenu_item {
    margin-left: 10px;
    align-items: center;
}

#right-tmenu {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 50%;
}

#tmenu-search {
    width: 50%;
    align-self: center;
}

.right_menu-item {
    align-items: center;
}

#center {
    display: flex;
}

#top-center {
    display: flex;
    justify-content: space-around;
}

#top-center-menu {
    display: flex;
    justify-content: left;
    margin-left: 190px;
    margin-top: 50px;
    font
}

.top-center-mneu-item {
    font-size: smaller;
    color: grey;
    justify-content: space-around;
    margin-left: 7px;
}

.top-center-mneu-item-title {
    font-size: smaller;
    justify-content: space-around;
    margin-left: 7px;
}

#Products-title {
    font-size: xx-large;
    display: block;
    margin-left: 190px;
}

#rating {
    display: flex;
    justify-content: space-between;
}

#rating-left {
    display: flex;
    justify-content: left;
    align-items: center;
}

#rating-303 {
    margin-left: 190px;
}

#rating-303-text1 {
    margin-left: 5px;
}

#rating-303-text2 {
    margin-left: 5px;
    color: grey;
    font-size: xx-small;
}

#rating-right {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 40px;
}

#Heart-23 {
    margin-left: 190px;
}

#rating-303-text3 {
    margin-left: 5px;
}

#rating-303-text4 {
    margin-left: 5px;
}